/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

body {
  font-family: serif;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  font-size: 30px;
}
section h2 + p {
  text-indent: 20px;
}

a:visited {
  color: purple;
}

a:focus,
a:hover {
  color: #a66;
  text-decoration: none;
}

a:active {
  background-color: lightblue;
}

#nav-menu ul li a {
  text-decoration: none;
  color: #a66;
}

#nav-menu ul li:hover {
  background-color: #ddd;
}

#nav-menu ul li {
  list-style: none;
  font-size: 16px;
  border: 1px solid #a66;
  padding: 20px;
}
